<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.oa.mapper.IDepartmentMapper">
  
  <resultMap type="Department" id="DepartmentResultMap">
  	<id property="no" column="DEPTNO"/>
  	<result property="code" column="DEPTCODE"/>
  	<result property="name" column="DEPTNAME"/>
  </resultMap>
  
  <insert id="insert" parameterType="Department" keyProperty="no"  keyColumn="DEPTNO" useGeneratedKeys="true">
	insert into oa_departemtn (DEPTCODE,DEPTNAME) values (#{code},#{name})  	
  </insert>
  
  <update id="update" parameterType="Department" >
  update oa_department set DEPTCODE=#{code},DEPTNAME=#{name} where DEPTNO=#{no}
  </update>
  
  <delete id="delete">
  delete from oa_department where DEPTNO=#{no}
  </delete>
  
  
  <select id="selectByNo" resultMap="DepartmentResultMap">
    select * from oa_department where DEPTNO = #{no}
  </select>
  
  <select id="selectListByAll" resultMap="DepartmentResultMap">
  select * from oa_department
  </select>
  
  <select id="selectListByAllWithPage" resultMap="DepartmentResultMap">
  select * from oa_department limit #{start},#{rows}
  </select>
  
  <select id="selectCountByAll" resultType="_int">
  select IFNULL(count(DEPTNO),0) from oa_department
  </select>
  
  
  
</mapper>
